@import 'bootstrap/dist/css/bootstrap.min.css';

/* Tipografías personalizadas */
body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
}